.relight-control-container {
    width: 100%;
    height: 100%;
    background: transparent;
    overflow: hidden;
    position: absolute;
    top: 0;
    left: 0;
    pointer-events: none;
    /* Let clicks pass through if not on controls */
}

.relight-canvas {
    width: 100%;
    height: 100%;
    cursor: crosshair;
    display: block;
    pointer-events: auto;
    /* Catch events on the canvas */
}